{% extends "base.html" %}
{% block content %}
<div class="container" style="padding-top: 3%; display: none">
    <div class="col-md-8 col-md-offset-2" style="color: black">
        <div class="page-header">
            <h1 style="text-align: center">My Family</h1>
        </div>
        <p class="lead" style="margin-top: 20px; text-align:center">Add members to your family to get updates about
            them</p>
    </div>
    <form action="" method="post" , name="family">
        {{ form.hidden_tag() }}
        <div class="row" style="padding-top: 20px; font-family: 'Josefin Sans', sans-serif; font-size: 16px;">
            <div align="center">
                <div class="col-md-8 col-md-offset-2">
                    {% if form.members.choices|length > 0 %}
                    <div class="input-group">
                      {{ form.members(class='form-control') }}
                    </div>
                    {% else %}
                    <h2>No users to add to your family</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px; font-family: 'Josefin Sans', sans-serif; font-size: 16px;">
            <div align="center">
                {% if form.members.choices|length > 0 %}
                <input type="submit" class="btn btn-success btn-lg" value="Add to Family">
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block headscript %}
<script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(function() {
        $(".container").fadeIn("slow");

    });

</script>
{% endblock %}