{% extends "base.html" %}
{% block content %}

<div class="container" style="padding-top: 3%; display: none">
    <div class="col-md-8 col-md-offset-2" style="color: black">
        <div class="page-header">
            <h1 style="text-align: center">Condition Log</h1>
        </div>
        <p class="lead" style="margin-top: 20px">Past conditions diagnosed by Asclepius</p>
    </div>


    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-bottom:0px">
            <ul class="list-group">
                {% for condition in conditions %}
                <li class="list-group-item">{{ condition.name }}</li>
                {% endfor %}


            </ul>
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

</div>

{% endblock %}
{% block myscript %}
<script>
$(function(){
    $(".container").fadeIn("slow");
});
</script>
{% endblock %}