<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% if title %}
    <title>Asclepius - {{ title }}</title>
    {% else %}
    <title>Asclepius</title>
    {% endif %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
    <style>
        #map {
            height: 100%;
        }
		div{
			font-family: 'Josefin Sans', sans-serif;
			font-size: 16px;
			}
		html {
			  position: relative;
			  min-height: 100%;
			}
			body {
			  /* Margin bottom by footer height */
			  margin-bottom: 60px;
			}
			.footer {
			  position: absolute;
			  bottom: 0;
			  width: 100%;
			  /* Set the fixed height of the footer here */
			  height: 80px;
			  background-color: #f5f5f5;
		}

		.container {
		  width: auto;
		  max-width: 80%;


		}
		.container .text-muted {
		  margin: 20px 0;
		}

		.footer {
		  background-color: #1b1b1b;

		  border-color: #252525;

		}
        {% block mystyle %}
        {% endblock %}

    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: 'Cinzel', serif; font-size: 32px;" href="#">Asclepius</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if g.user.is_authenticated %}
            <ul class="nav navbar-nav">

                <li><a href="{{ url_for('searchdoctor') }}">Search Doctors</a></li>
                <li><a href="{{ url_for('searchphrases') }}">Diagnose</a></li>
                <li><a href="{{ url_for('conditionhistory') }}">Medical Journal</a></li>
                <li><a href="{{ url_for('globalhistory') }}">Global History</a></li>
                <li><a href="{{ url_for('family') }}">My Family</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a style="padding-right:0px" disabled="disabled">{{ g.user.name }}</a></li>
                <li><a style="padding-right:0px" disabled="disabled">|</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>

<div id="map"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    var map;
    var doctors = [];
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 19.1237519, lng: 72.8339179},
            zoom: 12,
            mapTypeControl: false
        });
		//alert("{{typed}}");
        var bounds = new google.maps.LatLngBounds();
        var infoWindow = new google.maps.InfoWindow();
		//var obj = ($('#obj').val());
		console.log();
		var response = {{obj|tojson|safe}};
		console.log(response);
		for (var r of response["results"]) {
			doctors.push({
				name: r.name,
				position: {
					lat: +r.geometry.location.lat,
					lng: +r.geometry.location.lng
				},
				vicinity: r.vicinity
			});
		}
		for (var i = 0; i < doctors.length; i++) {
			var marker = new google.maps.Marker({
				position: doctors[i].position,
				map: map,
				title: doctors[i].name,
				animation: google.maps.Animation.DROP,
				id: i
			});
			const res = doctors[i];
			bounds.extend(marker.position);
			marker.addListener('mouseover', function () {
				addInfoWindow(this, infoWindow, res);
			});
			marker.addListener('mouseout', function () {
				infoWindow.close();
			});
		}
		map.fitBounds(bounds);
        map.addListener('click', function () {
            infoWindow.close();
        });
    }
    var addInfoWindow = function (marker, infoWindow, doctor) {
        infoWindow.marker = marker;
        infoWindow.setContent(
                '<div>' +
                '<h2 style="position: relative; float: left; margin-left:8px">' + doctor.name + 
                '<br><h4 style="position: relative; float: left; margin-left: 8px">' + doctor.vicinity + '' +
                 +
                '</div>'
        );
        infoWindow.open(map, marker);
        infoWindow.addListener('closeclick', function () {
            infoWindow.marker = null;
        });
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8g6dEvdguylYmEBQCFT3tuaqP5b4t-QU&callback=initMap"
        async defer></script>

<input style="diplay:none;" id="obj" type="hidden" value="{{obj}}"></input>

<footer class="footer">
    <div class="container">
        <p class="text-muted"><a href="{{ url_for('testimonial') }}" style="text-decoration: inherit; color: inherit">Testimonials</a>
        <a href="{{ url_for('aboutus') }}" style="margin-left: 40%; text-decoration: inherit; color: inherit">About Us</a>
            <span style="margin-left: 20%">Contact Us: asclepius.diagnosis@gmail.com</span></p>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>
