{% extends "base.html" %}
{% block mystyle %}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #1A3855;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
 margin-top: 2em;
}
.copy a {
 text-decoration: none;
 color: #4778d9;
}
{% endblock %}
{% block content %}
<div class="container" style="padding-top: 3%; display:none">
    <div class="col-md-8 col-md-offset-2" style="color: black">
        <div class="page-header">
            <h1 style="text-align: center">Select Symptoms</h1>
        </div>
        {% if form.symptoms_list|length > 0 %}
        <p class="lead" style="margin-top: 20px">Check applicable symptoms to diagnose conditions</p>
        {% else %}
        <p class="lead" style="margin-top: 20px">Unable to find any symptoms for the given keywords</p>
        {% endif %}
    </div>
    <form action="" method="post" name="symptoms">
        {{ form.hidden_tag() }}
        {% if form.symptoms_list|length > 0 %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="padding-bottom:0px">
                <ul class="list-group">
                    {% for symptom in form.symptoms_list %}
                        <li class="list-group-item">
                            {{ symptom(style="margin-right: 15px") }}{{ symptom.label }}
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row" style="padding-top: 20px; font-family: 'Josefin Sans', sans-serif; font-size: 16px;">
            <div align="center" style="text-align: center; color: #CC0000;">
                  <p class="lead" id="errormsg">{{g.myerror}}</p>
            </div>
        </div>
        <div class="row" style="padding: 15px 0px 20px 0px; font-family: 'Josefin Sans', sans-serif; font-size: 16px; min-height: 60px; margin-bottom: 25px">
            <div align="center">

                <input type="submit" class="btn btn-success btn-lg" value="Get Diagnosis">
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
{% block myscript %}
<script>
    $(function(){
        $(".container").fadeIn(1500);
    });
</script>
{% endblock %}